name: CI Workflow

on:
  pull_request:
    branches:
      - dev   

jobs:
  trigger-jenkins:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Pipeline
        run: |
          curl -X POST \
            -u ${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }} \
            http://localhost:8080/job/dev-ci-pipeline/build?token=${{ secrets.JENKINS_TOKEN }}